.gray-bg {
    background-image: url(../img/login_bg.jpg);
}

.middle-box {
    max-width: 400px;
    z-index: 100;
    margin: 0 auto;
    padding-top: 40px;
}

.loginscreen.middle-box {
    width: 300px;
}

.animated.modal.fade .modal-dialog {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
}

.logo-name {
    color: #e6e6e6;
    font-size: 180px;
    font-weight: 800;
    letter-spacing: -10px;
    margin-bottom: 0px;
}

.m-t {
    margin-top: 15px;
}

.form-group {
    margin-bottom: 5px;
}


.btn {
    border-radius: 3px;
}

.btn:focus{
    outline: none!important;
}
.full-width {
    width: 100% !important;
}

.m-b {
    margin-bottom: 15px;
}

.main{
	width: 600px;
	height: 600px;
	background-color: #FFFFFF;
}
