<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">

<div  th:fragment="picture" class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" onClick="cancel()" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">请选择文章封面</h4>
            </div>

            <div class="modal-body">

                <div class="row">
                    <div class="col-xs-6 col-md-3">
                        <a href="#" class="thumbnail"><img id="1" onClick="test(this.id)" src="img/1.jpg"></a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="#" class="thumbnail"><img id="2" onClick="test(this.id)" src="img/2.jpg"></a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="#" class="thumbnail"><img id="3" onClick="test(this.id)" src="img/3.jpg"></a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="#" class="thumbnail"><img id="4" onClick="test(this.id)" src="img/4.jpg"></a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="#" class="thumbnail"><img id="5" onClick="test(this.id)" src="img/5.jpg"></a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="#" class="thumbnail"><img id="6" onClick="test(this.id)" src="img/6.jpg"></a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="#" class="thumbnail"><img id="7" onClick="test(this.id)" src="img/1.jpg"></a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="#" class="thumbnail"><img id="8" onClick="test(this.id)" src="img/2.jpg"></a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="#" class="thumbnail"><img id="9" onClick="test(this.id)" src="img/3.jpg"></a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="#" class="thumbnail"><img id="10" onClick="test(this.id)" src="img/4.jpg"></a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="#" class="thumbnail"><img id="11" onClick="test(this.id)" src="img/5.jpg"></a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="#" class="thumbnail"><img id="12" onClick="test(this.id)" src="img/6.jpg"></a>
                    </div>
                </div>


                <nav>
                    <ul class="pager">
                        <li><a href="#">上一页</a></li>
                        <li><a href="#">下一页</a></li>
                    </ul>
                </nav>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" onClick="cancel()">取消</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">确定</button>
            </div>

        </div>
    </div>
</div>