<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/tools/head"/>

<body>
    <th:block th:utext="${message}"/>


    <div style="margin: 10px;">

        <div class="panel panel-success">
            <div class="panel-heading">
                <div class="panel-title"><span><th:block th:text="${form != null}?'字典修改':'字典添加'"</span></div>
            </div>

            <div class="panel-body">
                <form class="form-horizontal" role="form" th:attr="action=@{/admin/system/dict/save}" method="post">
                    <input type="hidden" name="id" th:value="${form != null}?${form.id}:''" />
                    <div class="form-group">
                        <label for="value" class="col-sm-2 control-label">键值:</label>
                        <div class="col-sm-8">
                            <input type="text" name="value" class="form-control" id="value" placeholder="键值不能为空" th:value="${form != null}?${form.value}:''" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="label" class="col-sm-2 control-label">标签:</label>
                        <div class="col-sm-8">
                            <input type="text" name="label" class="form-control" id="label" placeholder="标签不能为空" th:value="${form != null}?${form.label}:''" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="type" class="col-sm-2 control-label">类型:</label>
                        <div class="col-sm-8">
                            <input type="text" name="type" class="form-control" id="type" placeholder="类型不能为空" th:value="${form != null}?${form.type}:''" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="description" class="col-sm-2 control-label">描述:</label>
                        <div class="col-sm-8">
                            <input type="text" name="description" class="form-control" id="description" placeholder="请输入描述" th:value="${form != null}?${form.description}:''" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="sort" class="col-sm-2 control-label">排序:</label>
                        <div class="col-sm-8">
                            <input type="text" name="sort" class="form-control" id="sort" placeholder="排序字段"  th:value="${form != null}?${form.sort}:10" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="reset" class="btn btn-info">重置</button>
                            <button type="submit" class="btn btn-success">保存</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>


</body>

</html>