<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/tools/head"/>

<body>
    <th:block th:utext="${message}"/>

    <div class="formbody">

        <div id="usual1" class="usual">

            <div class="itab">
                <ul><li><a class="selected">字典列表</a></li></ul>
            </div>

            <div id="list" class="tabson">
                <a th:href="@{/admin/system/dict/form/null}" target="main">
                    <ul class="toolbar1"><li><span>+</span>添加</li></ul>
                </a>

                <ul class="seachform">
                    <form name="dict_typeForm" th:attr="action=@{/admin/system/dict/findByType}" method="post">
                        <li><label>字典类型</label>
                            <div class="vocation">
                                <th:block th:value="${type}"></th:block>
                                <select th:name="type" class="select" onchange="document.dict_typeForm.submit()">
                                    <th:block th:each="att : ${list}">
                                        <option th:value="${att}" th:text="${att}" th:selected="#{att == type}? 'selected':''"></option>
                                    </th:block>
                                </select>
                            </div>
                        </li>
                    </form>
                    <form th:attr="action=@{/admin/system/dict/desLike}" method="post">
                        <li><label>&nbsp;</label><input name="description" type="text" class="scinput" th:value="${description != null}?${description}:''" /></li>
                        <li><label>&nbsp;</label><input type="submit" class="scbtn" value="查询" /></li>
                    </form>
                </ul>

                <table class="tablelist">
                    <thead>
                        <tr>
                            <th>键值</th>
                            <th>标签</th>
                            <th>类型</th>
                            <th>描述</th>
                            <th>排序</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <th:block th:each="form:${pageList.getContent()}">
                            <tr>
                                <td><th:block th:text="${form.value}"/></td>
                                <td><th:block th:text="${form.label}"/></td>
                                <td><th:block th:text="${form.type}"/></td>
                                <td><th:block th:text="${form.description}"/></td>
                                <td><th:block th:text="${form.sort}"/></td>
                                <td>
                                    <a th:href="@{'/admin/system/dict/form/'+${form.id}}" target="main" class="tablelink">修改</a>
                                    <a th:href="@{'/admin/system/dict/delete/'+${form.id}}" target="main" class="tablelink" onclick="return del()">删除</a>
                                    <a th:href="@{'/admin/system/dict/addKey/'+${form.type}}" target="main" class="tablelink">添加键值</a>
                                </td>
                            </tr>
                        </th:block>
                    </tbody>
                </table>

                <div th:replace="admin/tools/page"></div>

            </div>

        </div>

        <script type="text/javascript">
            $('.tablelist tbody tr:odd').addClass('odd');
        </script>

    </div>

</body>

</html>