<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>

    <title>后台主页</title>
    <meta charset="UTF-8"/>
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/common/img/logo.ico}">

    <link rel="stylesheet" th:href="@{/modules/admin/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/modules/admin/css/font-awesome.css}" />
    <link rel="stylesheet" th:href="@{/modules/admin/css/style.css}" />

<body class="fixed-sidebar full-height-layout gray-bg" style="overflow:hidden">
<div id="wrapper">
    <!--左侧导航开始-->
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="nav-close"><i class="fa fa-times-circle"></i>
        </div>
        <div class="sidebar-collapse">
            <ul class="nav" id="side-menu">
                <li class="nav-header">
                    <div class="dropdown profile-element">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <span class="clear">
                                    <span class="block m-t-xs" style="font-size:20px;">
                                        <img  th:src="@{/modules/admin/img/logo.png}" width="40" height="40"/>
                                        <strong class="font-bold">ItdeerBolg</strong>
                                    </span>
                                </span>
                        </a>
                    </div>
                    <div class="logo-element">Itdeer
                    </div>
                </li>
                <li>
                    <a class="J_menuItem" href="index_v1.html">
                        <i class="fa fa-home"></i>
                        <span class="nav-label">主页</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa fa-bar-chart-o"></i>
                        <span class="nav-label">统计图表</span>
                        <span class="fa arrow"></span>
                    </a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="#" class="dropdown-toggle">
                                <i class="fa fa-diamond"></i>分类
                                <span class="menu-text"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="dropdown-toggle">
                                <i class="fa fa-diamond"></i>Flot
                                <span class="menu-text"></span>
                            </a>
                        </li>
                    </ul>
                </li>

                <li>
                    <a href="#"><i class="fa fa-edit"></i> <span class="nav-label">表单</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="#" class="dropdown-toggle">
                                <i class="fa fa-diamond"></i>表单向导
                                <span class="menu-text"></span>
                            </a>
                        </li>
                        <li>

                            <a href="#" class="dropdown-toggle">
                                <i class="fa fa-diamond"></i>文件上传
                                <span class="fa arrow"></span>
                            </a>
                            <ul class="nav nav-third-level">
                                <li>
                                    <a class="J_menuItem" href="form_webuploader.html"><i class="fa fa-circle"></i>百度WebUploader</a>
                                </li>
                                <li><a class="J_menuItem" href="form_file_upload.html"><i class="fa fa-circle"></i>DropzoneJS</a>
                                </li>
                            </ul>
                        </li>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-picture-o"></i> <span class="nav-label">相册</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li><a class="J_menuItem" href="basic_gallery.html">基本图库</a>
                        </li>
                        <li><a class="J_menuItem" href="carousel.html">图片切换</a>
                        </li>
                        <li><a class="J_menuItem" href="blueimp.html">Blueimp相册</a>
                        </li>
                    </ul>
                </li>

                <li>
                    <a>
                        <i class="fa fa-book"></i>
                        <span class="nav-label">博客管理</span>
                        <span class="fa arrow"></span>
                    </a>

                    <ul class="nav nav-second-level">
                        <li>
                            <a th:href="@{/admin/blog/article/findAll}" class="dropdown-toggle" target="main">
                                <i class="fa fa-user-secret"></i>文章管理
                                <span class="menu-text"></span>
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/admin/blog/category/findAll}" class="dropdown-toggle" target="main">
                                <i class="fa fa-globe"></i>类别管理
                                <span class="menu-text"></span>
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/admin/blog/links/findAll}" class="dropdown-toggle" target="main">
                                <i class="fa fa-link"></i>友链管理
                                <span class="menu-text"></span>
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/admin/blog/contact/findAll}" class="dropdown-toggle" target="main">
                                <i class="fa fa-commenting-o"></i>留言管理
                                <span class="menu-text"></span>
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/admin/blog/theme/findAll}" class="dropdown-toggle" target="main">
                                <i class="fa fa-diamond"></i>主题管理
                                <span class="menu-text"></span>
                            </a>
                        </li>

                    </ul>
                </li>

                <li>
                    <a>
                        <i class="fa fa-cogs"></i>
                        <span class="nav-label">系统设置</span>
                        <span class="fa arrow"></span>
                    </a>

                    <ul class="nav nav-second-level">
                        <li>
                            <a th:href="@{/admin/system/user/findAll}" class="dropdown-toggle" target="main">
                                <i class="fa fa-user-secret"></i>个人管理
                                <span class="menu-text"></span>
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/admin/system/metas/findAll}" class="dropdown-toggle" target="main">
                                <i class="fa fa-globe"></i>网站管理
                                <span class="menu-text"></span>
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/admin/system/picture/findAll}" class="dropdown-toggle" target="main">
                                <i class="fa fa-photo"></i>图片管理
                                <span class="menu-text"></span>
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/admin/system/theme/findAll}" class="dropdown-toggle" target="main">
                                <i class="fa fa-diamond"></i>主题管理
                                <span class="menu-text"></span>
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/admin/system/logs/findAll}" class="dropdown-toggle" target="main">
                                <i class="fa fa-diamond"></i>日志管理
                                <span class="menu-text"></span>
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/admin/system/dict/findAll}" class="dropdown-toggle" target="main">
                                <i class="fa fa-bookmark-o"></i>字典管理
                                <span class="menu-text"></span>
                            </a>
                        </li>
                    </ul>
                </li>

            </ul>
        </div>
    </nav>
    <!--左侧导航结束-->
    <!--右侧部分开始-->
    <div id="page-wrapper" class="gray-bg dashbard-1">
        <div class="row border-bottom">
            <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                <div class="navbar-header"><a class="navbar-minimalize minimalize-styl-2 btn btn-info " href="#"><i class="fa fa-bars"></i> </a>
                </div>

                <ul class="nav navbar-top-links navbar-right">


                    <li class="dropdown">
                        <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                            <i class="fa fa-envelope"></i> <span class="label label-warning">16</span>
                        </a>
                        <ul class="dropdown-menu dropdown-messages">

                            <li class="m-t-xs">
                                <div class="dropdown-messages-box">
                                    <a href="profile.html" class="pull-left">
                                        <img alt="image" class="img-circle" src="img/a7.jpg">
                                    </a>
                                    <div class="media-body">
                                        <small class="pull-right">46小时前</small>
                                        <strong>小四</strong> 是不是只有我死了,你们才不骂爵迹
                                        <br>
                                        <small class="text-muted">3天前 2014.11.8</small>
                                    </div>
                                </div>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <div class="dropdown-messages-box">
                                    <a href="profile.html" class="pull-left">
                                        <img alt="image" class="img-circle" src="img/a4.jpg">
                                    </a>
                                    <div class="media-body ">
                                        <small class="pull-right text-navy">25小时前</small>
                                        <strong>二愣子</strong> 呵呵
                                        <br>
                                        <small class="text-muted">昨天</small>
                                    </div>
                                </div>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <div class="text-center link-block">
                                    <a class="J_menuItem" href="mailbox.html">
                                        <i class="fa fa-envelope"></i> <strong> 查看所有消息</strong>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                            <i class="fa fa-bell"></i> <span class="label label-primary">8</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="mailbox.html">
                                    <div>
                                        <i class="fa fa-envelope fa-fw"></i>&nbsp;&nbsp;16条未读消息
                                    </div>
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="profile.html">
                                    <div>
                                        <i class="fa fa-qq fa-fw"></i>&nbsp;&nbsp;3条新回复
                                    </div>
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <div class="text-center link-block">
                                    <a class="J_menuItem" href="notifications.html">
                                        <strong>查看所有 </strong>
                                        <i class="fa fa-angle-right"></i>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">张三</a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="admin/user">
                                    <i class="fa fa-user"></i>&nbsp;&nbsp;个人信息
                                </a>
                            </li>
                            <li>
                                <a href="admin/change_password">
                                    <i class="fa fa-key"></i>&nbsp;&nbsp;更改密码
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="admin/logout">
                                    <i class="fa fa-sign-out"></i>&nbsp;&nbsp;退出
                                </a>
                            </li>

                        </ul>
                    </li>

                </ul>
            </nav>
        </div>
        <div class="row J_mainContent" id="content-main">
            <iframe name="main" width="100%" height="100%" src="index_v1.html?v=4.0" frameborder="0" data-id="index_v1.html" seamless></iframe>
        </div>
    </div>
    <!--右侧部分结束-->
</div>

<script th:src="@{/modules/admin/js/jquery.min.js}"></script>
<script th:src="@{/modules/admin/js/bootstrap.min.js}"></script>
<script th:src="@{/modules/admin/js/jquery.metisMenu.js}"></script>
<script th:src="@{/modules/admin/js/hAdmin.js}"></script>

</body>

</html>