<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>

    <title>后台主页</title>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link rel="stylesheet" th:href="@{/modules/admin/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/modules/admin/css/font-awesome.min.css}" />
    <link rel="stylesheet" th:href="@{/modules/admin/css/custom.min.css}" />

    <script th:src="@{/modules/admin/js/jquery.min.js}"></script>

    <script type="text/javascript">
        $(document).ready(function(e) {
            $(".right_col").height($(window).scrollTop());
        });
    </script>

</head>

<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col">
            <div id="left_col" class="left_col scroll-view">
                <div class="navbar nav_title" style="border: 0;">
                    <a href="${url}" class="site_title"><i class="fa fa-home"></i> <span>ITDEER Blog</span></a>
                </div>
                <div class="clearfix"></div>
                <!-- sidebar menu -->
                <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                    <div class="menu_section">
                        <ul class="nav side-menu">

                            <li>
                                <a href="#">
                                    <i class="fa fa-dashboard"></i>
                                    <span class="menu-text">Home</span>
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    <i class="fa fa-edit"></i>
                                    <span class="menu-text">文章撰写</span>
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    <i class="fa fa-newspaper-o"></i>
                                    <span class="menu-text">文章管理</span>

                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    <i class="fa fa-comment"></i>
                                    <span class="menu-text">评论</span>
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    <i class="fa fa-plug"></i>
                                    <span class="menu-text">插件</span>
                                </a>
                            </li>


                            <li>
                                <a>
                                    <i class="fa fa-newspaper-o"></i>
                                    <span class="menu-text">博客管理</span>
                                    <span class="fa fa-chevron-down"></span>
                                </a>

                                <ul class="nav child_menu">
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-double-angle-right"></i>
                                            <span class="menu-text">文章管理</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-double-angle-right"></i>
                                            <span class="menu-text">类别管理</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-double-angle-right"></i>
                                            <span class="menu-text">友链管理</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-double-angle-right"></i>
                                            <span class="menu-text">留言管理</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-double-angle-right"></i>
                                            <span class="menu-text">主题管理</span>
                                        </a>
                                    </li>

                                </ul>
                            </li>


                            <li>
                                <a>
                                    <i class="fa fa-cogs"></i>
                                    <span class="menu-text">系统设置</span>
                                    <span class="fa fa-chevron-down"></span>
                                </a>

                                <ul class="nav child_menu">
                                    <li>
                                        <a th:href="@{/admin/sys/user/findAll}" target="main">
                                            <i class="fa fa-double-angle-right"></i>
                                            <span class="menu-text">个人管理</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a th:href="@{/admin/sys/metas/findAll}" target="main">
                                            <i class="fa fa-double-angle-right"></i>
                                            <span class="menu-text">网站管理</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a th:href="@{/admin/sys/picture/findAll}" target="main">
                                            <i class="fa fa-double-angle-right"></i>
                                            <span class="menu-text">图片管理</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a th:href="@{/admin/sys/theme/findAll}" target="main">
                                            <i class="fa fa-double-angle-right"></i>
                                            <span class="menu-text">主题管理</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a th:href="@{/admin/sys/logs/findAll}" target="main">
                                            <i class="fa fa-double-angle-right"></i>
                                            <span class="menu-text">日志管理</span>
                                        </a>
                                    </li>

                                    <li>
                                        <a th:href="@{/admin/sys/dict/findAll}" target="main">
                                            <i class="fa fa-double-angle-right"></i>
                                            <span class="menu-text">字典管理</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>

                            <li>
                                <a>
                                    <i class="fa fa-list"></i>
                                    <span class="menu-text">更多</span>
                                    <span class="fa fa-chevron-down"></span>
                                </a>
                                <ul class="nav child_menu">
                                    <li>
                                        <a href="#" class="dropdown-toggle">
                                            <i class="fa fa-double-angle-right"></i>
                                            <span class="menu-text">分类</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="dropdown-toggle">
                                            <i class="fa fa-double-angle-right"></i>
                                            <span class="menu-text">标签</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="dropdown-toggle">
                                            <i class="fa fa-double-angle-right"></i>
                                            <span class="menu-text">链接</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="dropdown-toggle">
                                            <i class="fa fa-double-angle-right"></i>
                                            <span class="menu-text">导航</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>

                </div>
                <!-- /sidebar menu -->
            </div>
        </div>

        <!-- top navigation -->
        <div class="top_nav">
            <div class="nav_menu">
                <nav>
                    <div class="nav toggle">
                        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                    </div>

                    <ul class="nav navbar-nav navbar-right">
                        <li class="">
                            <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                <img th:src="@{/modules/admin/img/default-portrait.gif}" alt=""/>张三
                                <span class=" fa fa-angle-down"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-usermenu pull-right">
                                <li>
                                    <a href="admin/user">
                                        <i class="fa fa-user"></i>个人信息
                                    </a>
                                </li>
                                <li>
                                    <a href="admin/change_password">
                                        <i class="fa fa-key"></i>更改密码
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="admin/logout">
                                        <i class="fa fa-sign-out"></i>退出
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li role="presentation" class="dropdown">
                            <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                                <i class="fa fa-envelope-o"></i>
                                <span class="badge bg-green">8</span>
                            </a>
                            <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">

                                <li>
                                    <a target="_blank" href="#">
                                        <span class="image">
                                            <img class="msg-photo" th:src="@{/modules/admin/img/default-portrait.gif}"/>
                                        </span>
                                        <span>
                                            <span>Test</span>
                                            <span class="time">2017</span>
                                        </span>
                                        <span class="message">有一条消息</span>
                                    </a>
                                </li>

                                <li>
                                    <a target="_blank" href="#">
                                        <span class="image">
                                            <img class="msg-photo" th:src="@{/modules/admin/img/default-portrait.gif}"/>
                                        </span>
                                        <span>
                                            <span>Test</span>
                                            <span class="time">2017</span>
                                        </span>
                                        <span class="message">有一条消息</span>
                                    </a>
                                </li>

                                <li>
                                    <div class="text-center">
                                        <a href="admin/comment">
                                            查看所有消息
                                            <i class="fa fa-angle-right"></i>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </li>

                        <li role="presentation" class="dropdown">
                            <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                                <i class="fa fa-globe"></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a tabindex="-1" class="language" id="zh_CN">简体中文</a>
                                </li>
                                <li>
                                    <a tabindex="-1" class="language" id="en_US">English</a>
                                </li>
                            </ul>
                        </li>
                        <li role="presentation">
                            <a target="_blank" href="#" class="dropdown-toggle info-number">
                                <i class="fa fa-comments"></i>&nbsp;建议反馈
                            </a>
                    </ul>
                </nav>
            </div>
        </div>
        <!-- /top navigation -->
        <!-- page content -->
       <!--<div class="right_col" role="main" style="min-height: 1080px;">-->
        <div class="right_col scroll-view" role="main">
           <iframe src="" scrolling="no" style="border: 0px" name="main" width="100%" height="500" ></iframe>
       </div>


        <footer style="position:fixed;bottom:0;width: 100%;">
            <strong>Copyright © 2013-2017<a href="http://www.zrlog.com"> Itdeer . </a></strong> All rights reserved.
            <div class="pull-right">
                <strong>Version</strong> 1.0.0
            </div>
            <div class="clearfix"></div>
        </footer>
    </div>
</div>

<!-- 全局js -->


<script th:src="@{/modules/admin/js/bootstrap.min.js}"></script>
<script th:src="@{/modules/admin/js/custom.min.js}"></script>

</body>

</html>
