<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/tools/head"/>

<body>

<div style="margin: 10px;">
    <th:block th:utext="${message}"/>
    <div class="panel panel-default">
        <div class="form-horizontal">
            <div class="panel-body">
                <div class="row">

                    <form name="dict_typeForm" th:attr="action=@{/admin/system/dict/findByType}" method="post">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-4">字典类型</label>
                                <div class="col-md-8">
                                    <select class="form-control" th:name="type" onchange="document.dict_typeForm.submit()">
                                        <option value="">全部</option>
                                        <th:block th:each="att : ${list}">
                                            <option th:value="${att}" th:text="${att}" th:selected="#{att == type}? 'selected':''"></option>
                                        </th:block>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </form>

                    <form name="dict_desForm" th:attr="action=@{/admin/system/dict/desLike}" method="post">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-4">描述查询</label>
                                <div class="col-md-8">
                                    <input class="form-control" name="description" type="text" th:value="${description != null}?${description}:''">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <div params="vm.searchParams" class="ng-isolate-scope">
                                    <button type="reset" class="btn btn-danger">清空</button>
                                    <button type="submit" class="btn btn-success">
                                        <span class="glyphicon glyphicon-search"></span>搜索
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

    <nav>
        <ul class="pager">
            <li class="previous"><span><strong>字典列表</strong></span></li>
            <li class="next">
                <a class="text-success" th:href="@{/admin/system/dict/form/null}" target="main"><span class="glyphicon glyphicon-plus"></span>添加</a>
            </li>
        </ul>
    </nav>

    <div class="panel panel-success">

        <div class="panel-body">

            <table class="table table-striped table-bordered table-hover">
                <colgroup>
                    <col style="width:10%">
                    <col style="width:5%">
                    <col style="width:5%">
                    <col style="width:10%">
                    <col style="width:20%">
                    <col style="width:5%">
                    <col style="width:15%">
                    <col style="width:15%">
                    <col style="width:15%">
                </colgroup>
                <thead>
                <tr>
                    <th>标题</th>
                    <th>操作用户</th>
                    <th>日志级别</th>
                    <th>日志类型</th>
                    <th>URI</th>
                    <th>提交方式</th>
                    <th>操作者IP</th>
                    <th>操作时间</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody ui-sortable>
                    <th:block th:each="form:${pageList.getContent()}">
                        <tr>
                            <td><th:block th:text="${form.title}"/></td>
                            <td><th:block th:text="${form.userName}"/></td>
                            <td><th:block th:text="${form.level == '1'}?'info':'error'"/></td>
                            <td><th:block th:text="${form.type == '1'}?'系统日志':'操作日志'"/></td>
                            <td><th:block th:text="${form.requestUri}"/></td>
                            <td><th:block th:text="${form.method}"/></td>
                            <td><th:block th:text="${form.remoteAddr}"/></td>
                            <td><th:block th:text="${form.createDate}"/></td>
                            <td>
                                <a th:href="@{'/admin/system/logs/delete/'+${form.id}}" target="main" class="tablelink" onclick="return del()"><button class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-remove"></span>删除</button></a>
                                <a th:href="@{'/admin/system/logs/findById/'+${form.id}}" target="main" class="tablelink"><button class="btn btn-xs btn-success">查看详情</button></a>
                            </td>
                        </tr>
                    </th:block>
                </tbody>
            </table>
        </div>
    </div>

    <nav th:replace="admin/tools/page"></nav>

</div>

</body>

</html>