<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="theme1_head">
    <title>博客主页</title>
    <meta charset="UTF-8"/>
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/common/img/logo.ico}">
    <link rel="stylesheet" th:href="@{/modules/front/blog/theme1/css/style.min.css}" />
    <script th:src="@{/modules/front/blog/theme1/js/jquery.min.js}"></script>
    <!--https://github.com/cloudfavorites/favorites-web/blob/master/src/main/resources/templates/layout.html-->
</head>